# ビルドコンテキストから除外するもの
# 注意: vendor/*.tgz は COPY するため絶対に除外しないこと
.git
.github
.vscode
node_modules
**/node_modules
**/dist
**/out
**/.mindbuild
**/*.mco
**/*.sym
**/*.his
**/*.inf
**/.DS_Store
docs
README.md
Makefile
docker-compose.yml
